<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Guestbook</title>
    </head>
    <body>
        <% for (let i = 0; i < results.length; ++i) { %>
            <p><%= results[i].name %></p>
            <p><%= results[i].message %></p>
        <% } %>
        <form method="POST">
            <input name="name" type="text"><br>
            <textarea name="message"></textarea><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
