<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My first page</title>
        <style>
            .greeting {
                font-size: 2em;
                color: red;
            }
            img {
                border: 0.2em dotted red;
            }
        </style>
        <script>
            var selectedImage = 0;
            function swithImage(element) {
                var images = [
                  "/1.jpg",
                  "/2.jpg"
                ];
                selectedImage = (selectedImage + 1) % images.length;
                element.src = images[selectedImage];
            }
        </script>
    </head>
    <body>
        <p class="greeting">hello, world</p>
        <img src="/1.jpg" alt="Earth" width="320px" onclick="swithImage(this);">
        <p>You are the visitor number %COUNTER%</p>
    </body>
</html>
